$primary-color: #ff0048;

$phone-s            : 250px;
$phone-m            : 375px;
$phone-l            : 425px;
$tablet-half-size   : 580px;
$tablet             : 768px;
$table-plus         : 885px;
$laptop             : 1024px;
$laptop-l           : 1440px;
$two-k-plus         : 2000px;
$h-laptop-l         : 1023px;
$h-four-k           : 1500px;
